WebPack
    Babel(транслитор в более старые версии кода)
    Scss(препоцессор)
    Eslint(качество кода)
    2 modes:
        - dev server(инструмент позволяющий автоматически перезагружать
            окно бразуера если произошли какие либо изменения)
           ,sourceMaps(показывает на те модули где вели разработку)
           ,Eslint(чистота кода)
           ,Not Minified JS&CSS
        - prod - minified code

Git
    Production
    Development
